[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "corosio"]
	path = libs/corosio
	url = https://github.com/cppalliance/corosio.git
[submodule "capy"]
	path = libs/capy
	url = https://github.com/cppalliance/capy
[submodule "libs/http"]
	path = libs/http
	url = https://github.com/cppalliance/http.git
